site_name: My Notebook
site_url: https://paralegal.netlify.app/
copyright: Copyright &copy; 2021-2025 Haddock

# mkdocs serve -a localhost:8001

nav:
  - Math:
      - Number Theory: math/math123/2022-9-03-number.md
      - Trig Limit: math/math123/2022-10-05-triglimit.md
      - e Derivative: math/math123/2025-03-07-derivativeE.md
  - Computer:
      - Algorithm: Computer/algo/index.md
        # - Bubble Sort: Computer/algo/2022-8-30-bubblesort.md
        # - Insert Sort: Computer/algo/2022-8-30-insertionsort.md
        # - Merge Sort: Computer/algo/2022-9-01-mergesort.md
        # - Quick Sort: Computer/algo/2022-9-01-quicksort.md
        # - Bucket Sort: Computer/algo/2022-12-9-bucketSort.md
        # - Counting Sort: Computer/algo/2022-12-9-countingSort.md
        # - Radix Sort: Computer/algo/2022-12-9-radixSort.md
        # - Select Sort: Computer/algo/2022-12-9-selectSort.md
        # - Heap Sort: Computer/algo/2022-8-31-heapsort.md
        # - Binary Search: Computer/algo/2022-8-31-binary-search.md
        # - Recursion Explained: Computer/algo/2022-9-01-recursion.md
        # - Master Theory: Computer/algo/2022-9-02-mastertheorem.md
        # - Pumping Lemma: Computer/algo/2022-9-02-pumpinglemma.md
        # - Stable Marriage: Computer/algo/2022-9-01-stablemarriage.md
      - Html & CSS:
          - Embed Youtube Video: Computer/htmlCss/2022-8-19-video.md
          - Google Files Link: Computer/htmlCss/2022-8-25-googlefiles.md
      - Javascript:
          - Takeaways from Project EE: Computer/JavaScript/takeawayEE.md
      - Node.js:
          - "S1: Welcome": Computer/Nodejs/s1.md
          - "S2: Introduction": Computer/Nodejs/s2.md
          - "S3: Back-End Web Dev": Computer/Nodejs/s3.md
          - "S4: Under the Hood": Computer/Nodejs/s4.md
          - "S5: Asynchronous": Computer/Nodejs/s5.md
      - p5js:
          - Basics of Matter.js: Computer/p5js/2023-7-9-basics-of-matter.md
          - Apollonian Gasket: Computer/p5js/2024-04-21-apollonianGasket.md
          - Vera Molnar's (Des)ordres: Computer/p5js/2024-04-21-Squares.md
      - Python:
          - Set up Environment: Computer/Python/2023-4-22-venv.md
          - Reinstall Mkdocs: Computer/Python/2025-10-28-mkdocs.md
      - Others:
          - Docker and Jekyll: Computer/Others/2023-6-14-get-jekyll-running-locally.md
  - Laws:
      - Path Toward Practice in Canada: articles/2024-08-18-NCA.md
      - UBC online Courses:
          - LAW_V 505 99A:
              - Intro: UBC-laws/L505/505Intro.md
              - Unit 1: UBC-laws/L505/505Unit1.md
              - Unit 2: UBC-laws/L505/505Unit2.md
              - Unit 3: UBC-laws/L505/505Unit3.md
              - Unit 4: UBC-laws/L505/505Unit4.md
              - Unit Discussion: UBC-laws/L505/Unit1-4Dis.md
              - Unit 5: UBC-laws/L505/505Unit5.md
              - Unit 6: UBC-laws/L505/505Unit6.md
          - Law_V 509 99A:
              - Intro: UBC-laws/L509/509Intro.md
              - Unit 1: UBC-laws/L509/509Unit1.md
              - Unit 2: UBC-laws/L509/509Unit2.md
              - Unit 3: UBC-laws/L509/509Unit3.md
              - Unit 4: UBC-laws/L509/509Unit4.md
              - Unit 5: UBC-laws/L509/509Unit5.md
              - Unit 6: UBC-laws/L509/509Unit6.md
              - Unit 7: UBC-laws/L509/509Unit7.md
          - Law_V 503 Torts:
              - Intro: UBC-laws/L503/503Intro.md
              - Module 1: UBC-laws/L503/503Mod1.md
              - Module 2: UBC-laws/L503/503Mod2.md
              - Module 3: UBC-laws/L503/503Mod3.md
          - Law_V 525 Criminal Law:
              - Intro: UBC-laws/L525/525Intro.md
              - Unit 1: UBC-laws/L525/525Unit1.md
              - Unit 2: UBC-laws/L525/525Unit2.md
          - LAW_V 588 Ethics:
              - Intro: UBC-laws/L588/588Intro.md
              - Unit 1: UBC-laws/L588/588Mod1.md
      - UBC Application:
          - How to Apply: articles/2024-12-21-ubcOnline.md
          - Courses Introduction: UBC-laws/orientation.md
      - Real Estate:
          - Documents for Residential Transactions: realestate/docu-list.md
          - Air Conditioning Unit On RPR: realestate/acrpr.md
          - New Condo Expedited Registration: realestate/newCondoReg.md
          - Out of Province Signing Instruction: realestate/ops.md
          - Special Formality of Remote Signing: realestate/remotesign.md
      - Corporate:
          - Prepare Initial Minute Book: corporate/minbook.md
          - Minute Book of Share Transfer: corporate/minbook-2.md
          - Types of Business Structure: corporate/types.md
      - Family Law:
          - Family Property: family/property.md
          - Gift or Loan: family/giftorloan.md
  - Immigration:
      - EPE:
          - Practice A: immigration/epe/EPE Practice A.md
          - Practice B: immigration/epe/EPE Practice B.md
      - ICL:
          - 810:
              - Syllabus: immigration/810/syllabus.md
              - Week 1: immigration/810/weekOnenotes.md
              - Week 2: immigration/810/weekTwonotes.md
              - Week 3: immigration/810/weekThreenotes.md
              - Week 4: immigration/810/weekFourNotes.md
              - Week 5: immigration/810/weekFiveNotes.md
              - Week 6: immigration/810/weekSixNotes.md
          - 820:
              - Syllabus: immigration/820/syllabus.md
              - Week 1: immigration/820/ICL820week1.md
              - Week 2: immigration/820/ICL820week2.md
              - Week 3: immigration/820/ICL820week3.md
              - Week 4: immigration/820/ICL820week4.md
              - Week 5: immigration/820/ICL820week5.md
              - Week 6: immigration/820/ICL820week6.md
          - 830:
              - Syllabus: immigration/830/syllabus.md
              - Week 1: immigration/830/ICL830week1.md
              - Week 2: immigration/830/ICL830week2.md
              - Week 3: immigration/830/ICL830week3.md
              - Week 4: immigration/830/ICL830week4.md
              - Week 5: immigration/830/ICL830week5.md
              - Week 6: immigration/830/ICL830week6.md
          - 840:
              - Syllabus: immigration/840/syllabus.md
              - Week 1 Introduction: immigration/840/ICL840week1.md
              - Week 2 Cross Tools: immigration/840/ICL840week2.md
              - Week 3 Express Entry: immigration/840/ICL840week3.md
              - Mid Term: immigration/840/ICL840midTerm.md
              - Week 4 Skilled Immi: immigration/840/ICL840week4.md
              - Week 5 PNP: immigration/840/ICL840week5.md
              - Week 6 Business: immigration/840/ICL840week6.md
          - 850:
              - Syllabus: immigration/850/syllabus.md
              - Week 1 Who Can Be: immigration/850/ICL850week1.md
              - Week 2 Consultations: immigration/850/ICL850week2.md
              - Week 3 Forms: immigration/850/ICL850week3.md
              - Week 4 Evidence: immigration/850/ICL850week4.md
              - Week 5 Appeal: immigration/850/ICL850week5.md
              - Week 6 Advocacy: immigration/850/ICL850week6.md
          - 860:
              - Syllabus: immigration/860/syllabus.md
              - Week 1 Introduction: immigration/860/ICL860week1.md
              - Week 2 Claim: immigration/860/ICL860week2.md
              - Week 3 Inclusion-I: immigration/860/ICL860week3.md
              - Week 4 Inclusion-II: immigration/860/ICL860week4.md
              - Midterm Quiz: immigration/860/ICL860midTerm.md
              - Week 5 Exclusion: immigration/860/ICL860week5.md
              - Week 6 Trauma: immigration/860/ICL860week6.md
              - Week 7 Proceedings: immigration/860/ICL860week7.md
              - Week 8 Resettlement: immigration/860/ICL860week8.md
          - 870:
              - Syllabus: immigration/870/syllabus.md
              - Refresher: immigration/870/Foundations_Refresher.md
              - Week 1 Legal Framework: immigration/870/ICL870week1.md
              - Week 2 Process: immigration/870/ICL870week2.md
              - Week 3 Appeal: immigration/870/ICL870week3.md
              - Week 4 Overcome: immigration/870/ICL870week4.md
              - Mid Term Quiz: immigration/870/ICL870-midterm.md
              - Week 5 Detention: immigration/870/ICL870week5.md
              - Week 6 Prepare: immigration/870/ICL870week6.md
              - Week 7 DR: immigration/870/ICL870week7.md
              - Week 8 Removal: immigration/870/ICL870week8.md
          - 880:
              - Syllabus: immigration/880/syllabus.md
              - Week 1 Acquisition: immigration/880/ICL880week1.md
              - Week 2 Minors: immigration/880/ICL880week2.md
              - Week 3 Prohibitions: immigration/880/ICL880week3.md
              - Week 4 Revocations: immigration/880/ICL880week4.md
          - 890:
              - Syllabus: immigration/890/syllabus.md
              - Mid Quiz: immigration/890/ICL890Midterm.md
              - Week 1 Legal Skills: immigration/890/ICL890week1.md
              - Week 2 Legal Skills: immigration/890/ICL890week2.md
              - Week 3 Membership: immigration/890/ICL890week3.md
              - Week 4 Practicing: immigration/890/ICL890week4.md
              - Week 5 Open & Run: immigration/890/ICL890week5.md
              - Week 6 Cultural: immigration/890/ICL890week6.md
              - Week 7 Interviews: immigration/890/ICL890week7.md
              - Week 8 Documentation: immigration/890/ICL890week8.md
              - Week 9 Applications: immigration/890/ICL890week9.md
              - Week 10 Online Portals: immigration/890/ICL890week10.md
              - Week 11 Development: immigration/890/ICL890week11.md
              - Week 12 Analytics: immigration/890/ICL890week12.md
      - Articles:
          - Visitor Visa Inside Canada: immigration/visaInside.md
          - New Policy for Work Permit Holder: immigration/newpolicy.md
          - Job Advertisement Prior to LMIA: immigration/jobad.md
          - Residency Obligation of a PR: immigration/ro.md
          - How to Count Residency Period: immigration/rc.md
          - A writ of Mandamus: immigration/mandamus.md
          - From AoR to CoPR: immigration/prjourney.md
  - Finance:
      - Few Things to Know as New Immigrants: finance/fewthings.md
      - Tax Brackets: finance/2024-02-26-taxBrackets.md
      - Non-resident Tax of Property Sale: finance/2024-02-26-nonResidentTax.md
      - Non-resident Tax General: finance/2024-02-27-nonResidentGeneral.md
      - Forex at TD: finance/tdex.md
  - Blog:
      - blog/index.md
  - About:
      - The Purpose of this Website: index.md

theme:
  name: material

  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      scheme: larry-blue
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: larry-blue
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  # language: zh

  logo: assets/img/hkadd.jpeg
  favicon: assets/img/book-real.png

  features:
    # - navigation.sections
    - navigation.tabs
    - navigation.instant # without fully reloading the page, fast loading function
    - navigation.tracking
    - navigation.path
    # - navigation.indexes ##enable it if you have an introduction to top level
    - navigation.prune #When pruning is enabled, only the visible navigation items are included in the rendered HTML, reducing the size of the built site by 33% or more.
    - navigation.top
    - header.autohide
    - navigation.footer
    - search.highlight
    - search.share
    - search.suggest
    - content.code.annotate
    - content.code.copy

extra:
  social:
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/
    - icon: fontawesome/brands/instagram
      link: https://instagram.com/@
    - icon: fontawesome/solid/paper-plane
      link: mailto:info@somewhere.com
  generator: false

plugins:
  - blog:
      draft_on_serve: false
      post_date_format: full
  - search
  - tags

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - tables
  - footnotes
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - md_in_html
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_css:
  - assets/css/styled-table.css
  # - https://unpkg.com/leaflet@1.9.4/dist/leaflet.css
  # - assets/css/coverpic.css
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css
  - assets/css/icon.css
  - assets/css/extra.css
  - assets/css/other.css

extra_javascript:
  - assets/js/mathjax.js
  # - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  # - https://unpkg.com/leaflet@1.9.4/dist/leaflet.js
  - assets/js/pic-selector.js
